/* 第二个导航下面的侧面导航开始 */
.home-nav-inner{
    width: 226px;
    position: absolute;
    top: 173px;
    left: 50%;
    margin-left:-613px;
    z-index: 50;

}
.home-nav-inner-index ul{
    background: rgba(0,0,0,.4);
}

/* .home-nav-inner ul{
    display: none;
    background: #fff;
    height: 320px;
    padding: 19px 0px;
    border:1px solid #f12020;
} */




.home-nav-inner-show ul{
    display: block;
    border:none;
}
.home-nav-inner ul li{
    height: 40px;
}

.home-nav-inner ul li:hover{
    background: #f12020;
}

.home-nav-inner ul li .home-inner-menu span{
    filter: alpha(opacity=70);
}
.home-nav-inner ul li .home-inner-menu{
    height: 40px;
    padding-left: 75px;
    line-height: 40px;
}
.home-nav-inner ul li .home-inner-menu a{
    color: #333;
    font-size: 16px;
    float: left;
}

.home-nav-inner ul li:hover .home-inner-menu a{
    color:#fff;
}


.home-nav-inner .home-inner-chiq{
    background: url(inner-chiq-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-TV{
    background: url(inner-TV-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-air{
    background: url(inner-air-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-icebox{
    background: url(inner-icebox-icon.png) no-repeat 33px center;
}
.home-nav-inner .home-inner-ele{
    background: url(inner-ele-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-kitchen{
    background: url(inner-kitchen-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-digital{
    background: url(inner-digital-icon.png) no-repeat 30px center;
}
.home-nav-inner .home-inner-other{
    background: url(inner-other-icon.png) no-repeat 30px center;
}

.home-nav-inner-index ul li .home-inner-menu a{
    color:#fff;
}

.home-nav-inner-index .home-inner-chiq{
    background: url(../img/inner-chiq-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-TV{
    background: url(../img/inner-TV-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-air{
    background: url(../img/inner-air-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-icebox{
    background: url(../img/inner-icebox-icon.png) no-repeat 33px center;
}
.home-nav-inner-index .home-inner-ele{
    background: url(../img/inner-ele-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-kitchen{
    background: url(../img/inner-kitchen-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-digital{
    background: url(../img/inner-digital-icon.png) no-repeat 30px center;
}
.home-nav-inner-index .home-inner-other{
    background: url(../img/inner-other-icon.png) no-repeat 30px center;
}

.home-nav-inner ul li:hover .home-inner-chiq{
    background: url(../img/inner-chiq-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-TV{
    background: url(../img/inner-TV-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-air{
    background: url(../img/inner-air-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-icebox{
    background: url(../img/inner-icebox-icon.png) no-repeat 33px center;
}
.home-nav-inner ul li:hover .home-inner-ele{
    background: url(../img/inner-ele-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-kitchen{
    background: url(../img/inner-kitchen-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-digital{
    background: url(../img/inner-digital-icon.png) no-repeat 30px center;
}
.home-nav-inner ul li:hover .home-inner-other{
    background: url(../img/inner-other-icon.png) no-repeat 30px center;
}

.inner-list-name{
    display: block;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    color: #333333;
}
.inner-list-name img{
    margin-right: 10px;
}
.inner-pro-content{
    line-height: 30px;
    padding-top: 8px;
}
.inner-pro-content a{
    font-size: 14px;
    color: #666666;
    padding: 0px 15px;
    border-left: 1px solid #e0e0e0;
}
.inner-pro-content a:hover{
    color: #f12020;
}
.inner-pro-list{
    padding-bottom: 30px;
}

.home-inner-edit a{
    display: block;
    width: 34px;
    height: 18px;
    border-left:1px solid #d4d4d4;
    background: url(inner-icon-gray.png) no-repeat 10px center;
}
.home-ls-icon a{background: url(inner-icon-red.png) no-repeat 10px center;}
.home-inner-edit a.cur{
    background: url(inner-icon-red.png) no-repeat 10px center;
}

.home-inner-edit{
    position: absolute;
    top: -48px;
    left: 250px;
}
.home-nav-inner ul li:hover .home-inner-secd{
    display: block;
}
.home-inner-secd{
    display:none;
    position:absolute;
    background:#fff;
    width:640px;
    left:100%;
    top:0;
    padding:24px 40px 0;
    box-shadow: 0px 1px 2px 0px #e1e1e1;
    -webkit-box-shadow: 0px 1px 2px 0px #e1e1e1;
    -moz-box-shadow: 0px 1px 2px 0px #e1e1e1;
}

.home-inner-secd-top{
    overflow:hidden;
    *padding-bottom:15px;
}

.home-inner-secd-lf{
    float:left;
    width:520px;
}

.home-inner-secd-box{
    float:left;
    width:245px;
    margin-right:15px;
    margin-bottom:30px;
}

.home-inner-box-img{
    float:left;
}

.home-inner-box-wz{
    float:left;
    margin-left:20px;
    width:175px;
}


.home-inner-box-tit{
    line-height:32px;
    font-size:18px;
    color:#333;
    font-weight:normal;
}

.home-inner-box-tit:hover{
    color:#f12020;
}

.home-inner-box-xl{
    margin-top:5px;
}

.home-inner-box-xl a{
    display: block;
    float: left;
    width: 85px;
    font-size:14px;
    color:#666;
    line-height:26px;
}

.home-inner-box-xl a:hover{
    color:#f12020;
}

.home-inner-secd-rt{
    float:left;
    padding-left:30px;
    border-left:1px solid #eeeeee;
}

.home-inner-secd-rt a{
    display:block;
    font-size:14px;
    color:#333;
    line-height:24px;
}

.home-inner-secd-rt a:hover{
    color:#f12020;
}

.home-inner-secd-bot{
    height:66px;
    line-height:66px;
    text-align:center;
    font-size:18px;
    color:#999;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

}
.home-inner-secd-bot p{
    margin: 0px 40px;
    border-top: 1px solid #eeeeee;
    overflow:hidden;
    height:80px;
}
.home-radio{
    height: 40px;
    padding-left: 55px;
    background: url(home-radio-icon_03.png) no-repeat left 3px;
    overflow: hidden;
    position: relative;
}
.home-radio h1{
    font-weight: normal;
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    float: left;
}
.home-radio-container{
    float: left;
    height: 40px;
    top: 0px;
    width: 230px;
    position: relative;
}
.home-radio-container p{
    line-height: 40px;
    height: 40px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-radio-container p a{
    font-size: 14px;
    color: #333333;
}
.home-radio-btn{
    height: 32px;
    padding-top: 8px;
    float: left;
}
.home-radio-left{
    width: 18px;
    height: 11px;
    background: url(radio-up_08.png) no-repeat left center;
    cursor: pointer;
}
.home-radio-right{
    width: 18px;
    height: 12px;
    background: url(radio-down_10.png) no-repeat left center;
    cursor: pointer;
}
.home-radio-scroll{
    overflow: hidden;
    float: left;
}
.home-activity a,.home-activity img{
    display: block;
}
.home-activity a{
    float: left;
}
.home-activity{
    height: 211px;
}
.home-nav-inner ul{
    height: 480px;
    padding: 10px 0px;
}
.home-nav-inner ul li .home-inner-menu,.home-nav-inner ul li,.home-nav-inner ul li .home-inner-menu span{
    height: 60px;
    line-height: 60px;
}
.home-inner-chiq{
    background: url(inner-chiq-icon_h.png) no-repeat 30px center;
}
.home-inner-TV{
    background: url(inner-TV-icon_07.png) no-repeat 30px center;
}
.home-inner-air{
    background: url(inner-air-icon_10.png) no-repeat 30px center;
}
.home-inner-icebox{
    background: url(inner-icebox-icon_h.png) no-repeat 30px center;
}
.home-inner-ele{
    background: url(inner-ele-icon_h.png) no-repeat 30px center;
}
.home-inner-kitchen{
    background: url(inner-kitchen-icon_h.png) no-repeat 30px center;
}
.home-inner-digital{
    background: url(inner-digital-icon_h.png) no-repeat 30px center;
}
.home-inner-other{
    background: url(inner-other-icon_h.png) no-repeat 30px center;
}
.home-banner-btn{
    height: 215px;
}
.home-nav-inner ul li .home-inner-menu a{
    font-size: 16px;
}
.home-banner-num{
    top: 475px;
}
.home-nav-inner ul li .home-inner-secd .home-inner-box-xl{
    line-height:32px;
}
.home-inner-secd{
    width:400px;
min-height: 476px;
}

/* 第二个导航下面的侧面导航结束 */

/* banner图部分开始 */
.banner-pic {
    height: 500px;
    width: 100%;
    position: relative;
}
.banner-pic ul li.showpic {
    opacity: 1;
}
.banner-pic ul li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s
}
.banner-pic ul li a{
    display: block;
    width: 100%;
    height: 500px;
}
.banner-pic ul li img{
    width: 100%;
    height: 500px;
}
.banner-pic ol {
    position: absolute;
    width: 180px;
    height: 20px;
    right: 5%;
    bottom: 20px;
}

.banner-pic ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 10px;
    text-indent: -99999px;
    cursor: pointer;
}

.banner-pic ol li.active {
    background: red;
}

/* banner图部分结束 */

/* banner图下面公告部分开始 */
.home-radio{
    height: 40px;
    padding-left: 55px;
    background: url(../img/home-radio-icon_03.png) no-repeat left 3px;
    overflow: hidden;
    position: relative;
}
.home-radio p{
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    float: left;
}
.home-activity .home-left-box{
    width: 226px;
    height: 160px;
    background: #585858;
    float: left;
}
.home-picbox1,.home-picbox2,.home-picbox3{
width: 320px;
height: 160px;
float: left;
margin-left: 13px;
}
/* banner图下面公告部分结束 */


/* 电视产品部分开始  */
.tv{
    margin-top: 50px;
   
}
.tv-title{
    line-height: 30px;
    height: 30px;
    margin-bottom: 20px;
}
.tv-title a{
    color: #333333
}
.tv-title h2{
    float: left;
}
.tv-title span{
    float: left;
    margin-left: 40px;
    font-size: 14px;
}
.tv-title ul{
    float: right;
    font-size: 14px;
}
.tv-title ul li{
    float: left;
    margin-left: 30px;
}
.tv-title ul li:hover a{
    color: #f12020;
}

/* 电视产品图片列表部分开始 */
.tv-pic-aside,.tv-pic-list{
float:left;
}
.tv-pic-aside{
    height: 640px; 
}
.tv-pic-list{
    width: 1000px;
    height: 640px;
}

.tv-pic-list li{
    width: 190px;
    height: 260px;
    margin-bottom: 10px;
    padding: 25px;
    float: left;
    margin-left: 10px;
    background: #fff;
    text-align: center;
}

.tv-pic-list li img{
    display: block;
    height: 160px;
    width: 160px;
    margin: 0px auto;
}
.tv-pic-list li:hover
{
    transform: translate(0,-2px);
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 5px rgba(216, 202, 202, 0.4);
}
.tv-pic-list li h3
{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
    margin-top: 20px;
    color: #666;
}
.tv-pic-list li p
{
    line-height: 12px;
    font-size: 12px;
    margin-top: 7px;
    color: #999;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 12px;
    margin-top: 10px;
}
.tv-pic-list li i
{
    font-size: 16px;
    text-align: center;
    color: #f12020;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    display: block;
    padding-top: 3px;
}
/* 电视产品图片列表部分结束*/

/* 电视产品部分结束 */

/* 楼梯侧面导航开始*/
.xhome-fixl{
    position: fixed;
    top: 55%;
    left: 50%;
    margin-left: -670px;
    margin-top: -150px;
}
.xhome-fixl ul{
    overflow: hidden;
}
.xhome-fixl li{
    width: 45px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.xhome-fixl li a{
    display: block;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #d6d6d6;
}
.xhome-fixl li a:hover{
    border: none;
    background: #ee1411;
    color: #fff;
}
.xhome-fixl li.clicked a{
    background-color: #ee1411;
    color: #fff;
}

/* 楼梯侧面导航结束 */

/* 右侧固定导航开始 */
.pro-float-box{
    display: block;
}
.pro-float-box .pro-float-toTop{
    display: none;
}
.pro-his-pro{
    margin-left: 14px;
}
.pro-float-box ul li a,.pro-float-box ul li a img{
    display: block;
}
.pro-float-box ul li a{
    position: relative;
}
.pro-float-box ul li{
    width: 40px;
    height: 40px;
}
.pro-float-center{
    border-top: 1px solid #f9f9f9 ;
    border-bottom: 1px solid #f9f9f9 ;
}
.pro-float-box ul li a.pro-float-car span{
    display: block;
    background: url(../img/pro-float-car-num_03.png) no-repeat;
    width: 18px;
    height: 22px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: -4px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
.pro-float-box{
    position: fixed;
    right: 0px;
    bottom: 224px;
}
/* 右侧固定导航结束 */